@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700;800&family=Roboto:wght@500&display=swap');

:root{
    --black-color: #000000;
    --accent-color: #1EA59A;
    --bg-color: #E5E5E5;
}
.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 100;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .8s;
    & .mask{
        width: 100px;
        height: 100px;
        display: block;
        border-radius: 50%;
        border: 5px solid var(--accent-color);
        border-right-color: transparent;
        z-index: 101;
        background-color: transparent;
        animation: loader 1.3s linear infinite;
    }
    &.loaded{
        opacity: 0;
        transition: all .8s;
        pointer-events: none;
    }
}
@keyframes loader{
    100% {
        transform: rotate(360deg);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
//   font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

body{
    background-color: #fff;
    font-family: 'Mulish';
}
body::-webkit-scrollbar {
    width: 7px; 
}
body::-webkit-scrollbar-track {
    background: #fff;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--accent-color); 
    border-radius: 0px; 
    height: 5px;
}
body.burgerActive{
    overflow-y: hidden;
}
body.modalActive{
    overflow-y: hidden;
}
body.burgerActive.modalActive{
    overflow-y: hidden;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.h3, h3{
    font-size: 30px;
    color: var(--black-color);
    font-weight: 700;
    width: 380px;
    position: relative;
}
.h3::before{
    position: absolute;
    content: '';
    background-image: url('../public/ornament.svg');
    width: 90px;
    height: 100px;
    left: -70px;
    top: -45px;
    z-index: 1;
}
.h4, h4{
    font-size: 20px;
    color: var(--black-color);
    font-weight: 700;
}
p{
    font-weight: 400;
    font-size: 15px;
    color: #404852;
    line-height: 25px;
    & a{
        color: var(--accent-color);
        display: inline-block;
    }
    & a::after{
        background-color: var(--accent-color);
        display: block;
        content: '';
        height: 2px;
        width: 0%;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
    }
    & a:hover::after{
        width: 100%;
    }
}
// H1-H6 media
@media screen and (max-width: 1200px) {
    .h3, h3{
        font-size: 28px;
    }
}
@media screen and (max-width: 992px) {
    .h3, h3{
        font-size: 26px;
    }
}
@media screen and (max-width: 768px) {
    .h3, h3{
        font-size: 25px;
    }
    p a::after{
        display: none;
    }
}
@media screen and (max-width: 551px) {
    .h3, h3{
        font-size: 24px;
    }
}
// H1-H6 media

.logo{
    display: block;
    margin-right: auto;
}
.header{
    padding: 30px 0;
    // position: ;
    left: 0;
    right: 0;
    &_inner{
        display: flex;
        align-items: center;
        justify-content: flex-end; 
    }
    &_nav{
        margin-right: 25px;
    }
    &_ul{
        display: flex;
        align-items: center;
    }
    &_li-adaptive{
        display: none;
    }
    &_burgerBtn{
        width: 40px;
        height: 26px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border: none;
        margin-right: 20px;
        cursor: pointer;
        position: relative;
        display: none;
    }
    &_burgerBtn span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: #404858;
        transition: all .3s;
    }
    &_burgerBtn.active span:nth-of-type(2){
        opacity: 0;
        transition: all .3s;
    }
    &_burgerBtn.active span{
        top: 12px;
    }
    &_burgerBtn.active span:nth-of-type(1){
        position: absolute;
        transform: rotate(45deg);
    }
    &_burgerBtn.active span:nth-of-type(3){
        position: absolute;
        transform: rotate(-45deg);
    }
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease-in;
    &.active{
        opacity: 1;
        pointer-events: all;
        transition: all .4s ease-in;
    }
    &_body{
        background: #fff;
        width: 500px;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 15px;
    }
    &_title{
      font-weight: 700; 
      margin-bottom: 10px; 
      font-size: 30px;
    }
}
.myForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_callto{
        display: block;
        margin-bottom: 10px;
    }
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper.bannerSwiper .swiper-wrapper{
    margin-left: 100px;
}

.banner{
    position: relative;
    padding-bottom: 100px;
    &_box{
        position: absolute;
        z-index: 2;
        left: 20%;
        top: 30%;
        transform: translate(-20%, -30%);
    }
    &_title{
        font-weight: 800;
        font-size: 55px;
        color: var(--black-color);
        width: 454px;
        margin-bottom: 40px;
        box-shadow: rgba(64, 72, 82, 0.1);
    }
    &_choose{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 430px;
        background-color: #fff;
        padding: 28px;
        box-shadow: 0px 20px 30px rgba(64, 72, 82, 0.1);
        border-radius: 10px;
    }
    &_p{
        font-size: 13px;
        color: #7D8186;
    }
    &_btn{
        font-weight: 700;
        font-size: 14px;
        color: #fff;
        padding: 15px 25px;
        background: #FE753E;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        border: 1px solid #FE753E;
        transition: all .3s;
    }
    &_btn:hover{
        color:#FE753E;
        background-color: #fff;
    }
}
// BANNER MEDIA
@media screen and (max-width: 1399px) {
    .banner{
        &_title{
            font-size: 52px;
            margin-bottom: 35px;
        }
        &_choose{
            width: 410px;
            padding: 25px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .banner{
        &_title{
            font-size: 49px;
            margin-bottom: 30px;
        }
        &_choose{
            width: 390px;
            padding: 23px;
        }
    }
}
@media screen and (max-width: 992px) {
    .banner{
        padding-bottom: 60px;
        &_box{
            top: 25%;
        }
        &_title{
            font-size: 46px;
            margin-bottom: 15px;
            width: 440px;
        }
        &_choose{
            width: 340px;
            padding: 15px;
        }
    }
    .mySwiper.bannerSwiper .swiper-wrapper{
        margin-left: 50px;
    }
}
@media screen and (max-width: 768px) {
    .banner{
        display: flex;
        flex-direction: column-reverse;
        &_box{
            padding: 0 20px;
            position: relative;
            left: 0;
            top: 0;
            margin-top: 15px;
            width: 100%;
            transform: translate(0, 0);
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            text-align: center;
        }
        &_title{
            font-size: 40px;
            margin-bottom: 10px;
            width: 100%;
        }
        &_choose{
            margin: 0 auto;
        }
        &_btn:hover{
            color: #fff;
            background-color: #FE753E;
        }
    }
    .mySwiper.bannerSwiper .swiper-wrapper{
        margin-left: 0px;
    }
}
@media screen and (max-width: 576px) {
    .banner{
        &_box{
            padding: 0 10px;
        }
        &_title{
            font-size: 37px;
        }
    }
}
@media screen and (max-width: 450px) {
    .banner{
        &_title{
            font-size: 34px;
        }
    }
}
// BANNER MEDIA

.room{
    padding-bottom: 150px;
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 60px;
    }
    &_p{
        width: 430px;
        
    }
}
.room_slide{
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    transition: all 1s;
    & img{
        z-index: 1;
        border-radius: 10px;
        transition: all 1s;
    }
}
.room_slide:hover{
    background-color: #FE753E;
    & img{
        transition: all 1s;
        opacity: 0;
    }
}
.room_wrap{
    position: absolute;
    z-index: 3;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 0px;
    border-top-right-radius: 10px;
    bottom: 0;
    padding-left: 1px;
    left: -1px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2px;    
    & div{
        font-weight: 700;
        font-size: 14px;
        color: #1EA59A;
    }
    & b{
        font-weight: 400;
        font-size: 13px;
        color: #9395A0;
    }
}
// ROOM MEDIA
@media screen and (max-width: 992px) {
    .room{
        padding-bottom: 100px;
        &_p{
            width: 350px;
        }
    }
}
@media screen and (max-width: 768px) {
    .room{
        &_inner{
            flex-direction: column;
            align-items: flex-start;
            padding-bottom: 40px;
        }
        &_title{
            margin-bottom: 20px;
        }
        &_p{
            width: 100%;
        }
        &:hover{
            background-color: transparent;
            & img{
                opacity: 1;
            }
        }
    }
}
@media screen and (max-width: 551px){
    .room{
        &_wrap{
            padding-top: 15px;
            padding-right: 15px;
        }
        &_wrap b{
            display: none;
        }
    }
}
// ROOM MEDIA

.clients{
    display: flex;
    align-items: center;
    padding-bottom: 150px;
    position: relative;
    &::after{
        position: absolute;
        content: '';
        width: 50%;
        height: 100%;
        background: #F6FAFA;
        right: 0;
        z-index: 1;
    }
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_white{
        padding-top: 180px;
        position: relative;
    }
    &_title{
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
    }
    // &_title::before{
    //     position: absolute;
    //     content: '';
    //     background-image: url('../public/ornament.svg');
    //     width: 90px;
    //     height: 100px;
    //     left: -70px;
    //     top: -45px;
    //     z-index: 1;
    // }
    &_white p{
        width: 320px;
        margin-bottom: 65px;
    }
    &_box{
        & b{
            font-weight: 800;
            font-size: 80px;
            color: var(--accent-color);
        }
    }
    &_box + .clients_box{
        margin-top: 65px;
    }
    &_accent{
        width: 400px;
        padding-top: 150px;
        z-index: 2;
    }
    &_wrap{
        display: flex;
    }
    &_wrap + .clients_wrap{
        margin-top: 90px;
    }
    &_imgDiv{
        min-width: 50px;
        height: 50px;
        background-color: rgba(30, 165, 154, 0.1);
        border-radius: 50px;
        margin-right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .clients{
        padding-bottom: 100px;
        &_white{
            padding-top: 110px;
        }
        &_accent{
            padding-top: 50px;
            width: 370px;
        }
        &_white p{
            width: 280px;
        }
    }
}
@media screen and (max-width: 768px) {
    .clients{
        &_box b{
            font-size: 70px;
        }
        &_title{
            width: 100%;
        }
        &_accent{
            width: 290px;
        }
    }
}
@media screen and (max-width: 700px) {
    .clients{
        &::after{
            display: none;
        }
        &_inner{
            align-items: flex-start;
            flex-direction: column;
        }
        &_white{
            padding-top: 0;
        }
        &_white p{
            width: 100%;
            margin-bottom: 20px;
        }
        &_box{
            text-align: center;
        }
        &_box + .clients_box{
            margin-top: 20px;
        }
        &_accent{
            width: 100%;
            padding-top: 30px;
        }
        &_wrap + .clients_wrap{
            margin-top: 30px;
        }
    }
}

.cases{
    padding-bottom: 150px;
    &_h3{
        margin-bottom: 50px;
    }
    &_inner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px 40px;
    }
    &_item{
        // width: 320px;
        display: block;
        position: relative;
        overflow: hidden;
    }
    &_item img{
        display: block;
        width: 100%;
        border-radius: 10px;
        margin-bottom: 15px;
    }
    &_item b{
        display: block;
        font-weight: 700;
        color: var(--accent-color);
        font-size: 18px;
        line-height: 27px;
    }
    &_item p{
        font-size: 13px;
        font-weight: 300;
    }
    &_item span{
        font-weight: 700;
        font-size: 15px;
        color: var(--black-color);
    }
    &_item span b{
        display: inline;
        font-weight: 300;
        font-size: 13px;
        color: var(--black-color);
    }
    &_onHover{
        position: absolute;
        width: 100px;
        height: 100px;
        background-color: #FE753E;
        left: 50%;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        transition: all .3s;
        transform: translate(-50%, -1000px);
    }
    &_item:hover{
        .cases_onHover{
            transform: translate(-50%, 0px);
            transition: all .3s;
        }
    }
}
// CASES MEDIA
@media screen and (max-width: 992px) {
    .cases{
        padding-bottom: 100px;
        &_inner{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media screen and (max-width: 768px) {
    .cases{
        &_onHover{
            font-size: 13px;
            width: 80px;
            height: 80px;
        }
    }
}
@media screen and (max-width: 551px) {
    .cases{
        &_inner{
            grid-template-columns: repeat(1, 1fr);
            gap: 30px;
        }
        &_onHover{
            display: none;
        }
    }
}
// CASES MEDIA

.help{
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    &::before{
        position: absolute;
        content: '';
        height: 100%;
        width: 50%;
        background-color: #F6F6FB;
        left: 0;
        top: 0;
        z-index: 2;
    }
    &_inner{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    &_accent{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 320px;
    }
    &_blockquote{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #5959B3;
        z-index: 2;
        margin-bottom: 50px;
        font-size: 60px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 24px;
            height: 16px;
            background-image: url('../public/socialIcons/blockquote.svg');
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &_title{
        font-weight: 700;
        font-size: 40px;
        line-height: 50px;
        color: #121212;
        z-index: 2;
    }
    &_white{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 400px;
    }
    &_subtitle{
        font-weight: 600;
        margin-bottom: 25px;
    }
    &_p{
        margin-bottom: 80px;
    }
    &_social{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    &_social a{
        display: block;
        transition: .8s;
    }
    &_social a:hover{
        transform: translateY(-5px);
    }
    &_social a + a{
        margin-left: 30px;
    }
}
// HELP MEDIA
@media screen and (max-width: 992px) {
    .help{
        padding-top: 100px;
        padding-bottom: 100px;
        &_accent{
            width: 280px;
        }
        &_blockquote{
            width: 95px;
            height: 95px;
            margin-bottom: 30px;
        }
        &_title{
            font-size: 35px;
            line-height: 43px;
        }
        &_white{
            width: 350px;
        }
        &_subtitle {
            width: 300px;
            margin-bottom: 15px;
        }
        &_p{
            margin-bottom: 55px;
        }
    }
}
@media screen and (max-width: 768px) {
    .help{
        padding-top: 80px;
        padding-bottom: 80px;
        &_accent{
            width: 240px;
        }
        &_blockquote{
            width: 85px;
            height: 85px;
            margin-bottom: 20px;
        }
        &_title{
            font-size: 30px;
            line-height: 38px;
        }
        &_white{
            width: 50%;
            padding-left: 10px;
        }
        &_subtitle {
            width: 250px;
            margin-bottom: 15px;
        }
        &_p{
            margin-bottom: 55px;
        }
        &_social{
            justify-content: space-between;
            width: 100%;    
        }
        &_social a{
            display: block;
        }
        &_social a + a{
            margin-left: 0;
        }
    }
}
@media screen and (max-width: 550px){
    .help{
        padding-bottom: 50px;
        padding-top: 0;
        &::before{
            display: none;
        }
        &_inner{
            flex-direction: column-reverse;
        }
        &_white{
            width: 100%;
            padding-bottom: 30px;
        }
        &_p{
            margin-bottom: 30px;
        }
        &_accent{
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
        &_title{
            width: 70%;
            font-size: 28px;
            margin-left: 20px;
        }
    }
}
// MEDIA

@media screen and (min-width: 1400px) {
    .container{
        max-width: 1640px;
        width: 100%;
        padding: 0 80px;
    }
}
@media screen and (max-width: 992px){
    .container{
        padding: 0 25px;
    }
    .header{
        padding: 20px 0;
        &_nav{
            border-top: 1px solid #404858;
            margin-right: 0;
            width: 100%;
            position: fixed;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            top: 94px;
            height: calc(100vh - 95px);
            transform: translateX(2000px);
            transition: all .3s;
            z-index: 10;
            background-color: #fff;
        }
        &_nav.active{
            transform: translateX(0px);
        }
        &_ul{
            flex-direction: column;
        }
        &_burgerBtn{
            display: flex;
        }
    }
}
@media screen and (max-width: 576px) {
    .container{
        padding: 0 10px;
    }
    .header{
        padding: 10px 0;
        &_nav{
            top: 74px;
            height: calc(100vh - 75px); 
        }
        &_modalBtn{
            display: none;
        }
        &_li-adaptive{
            display: block;
        }
        &_burgerBtn{
            margin-right: 0;
        }
    }
}